/*   
Theme Name: Medcpu2 Theme
Theme URI: http://
Description: Theme for client
Author: Jd
Version: 1
*/

@media screen {

* { margin: 0; padding: 0; }
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */
.clear {clear: both;}
a img {border: 0;}

body {background: #a7a8ac url(images/body_bck.jpg) top center no-repeat; margin: 0; padding: 0; font-family: Arial, sans-serif;}
#wrap {width: 995px; margin: 0 auto;}
#wrap-head {background: url(images/wrap_top.png) top center no-repeat; height: 15px;}
#wrap-tile {background: url(images/wrap_tile.png) top center repeat-y; padding: 0px 58px;}
#wrap-footer {background: url(images/wrap_footer.png) top center no-repeat; height: 49px;}

#header {border-bottom: 1px solid #b9b8b9;}
#logo {float: left; width: 230px;}
#slogan {float: right; width: 600px; text-align: right; color: #231F20; font-family: 'PT Sans', sans-serif; font-size: 18px; margin-top: 30px;}
#slogan span {color: #00AEEF;}
#menu {background: url(images/menu_bck.png) no-repeat center; height: 58px; font-family: 15px/16px 'PT Sans', Helvetica, Arial, sans-serif; color: #404040;}

#stage {margin-top: 5px;}
#stage #col-left {float: left; width: 589px; background: url(images/sidebar_bck.png) top right repeat-y; padding-right: 30px;}
#stage #col-right {float: right; width: 260px; }

#footer {border-top: 0px solid #231F20; background: url(images/footer_bck.png) top center repeat-x; margin-top: 10px; padding-top: 30px; font: 12px/16px Arial, sans-serif;}
#footer-nav {float: left; width: 579px;}
#footer-nav ul {list-style: none;}
#footer-nav li {float: left; width: 173px; color: #00AEEF; margin-bottom: 10px; list-style: outside url("images/blueli.png"); color: #00AEEF; margin-left: 20px;}
#footer-nav  li li {margin-bottom: 0px; margin-left: 10px; list-style: none;}
#footer-nav a {text-decoration: none;}
#footer-nav li a {color: #00AEEF; font-weight: bold;}
#footer-nav li li a {color: #404040; font-weight: normal;}
#footer-warea {float: right; width: 243px; border-left: 1px solid #0093BE; padding-left: 30px;}
#footer-warea p {margin-bottom: 10px;}
#footer-search {margin-bottom: 15px; display: block;}
#footer-search input {background: url(images/search_bck.png) no-repeat top left; border: 0; padding: 13px 40px 10px 17px; color: #404040; font: 18px 'PT Sans', sans-serif; width: 270px;}

#stage #col-left p {font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 13px; line-height: 17px; text-align: left; margin-bottom: 7px; color: #404040;}
#stage #col-left {font: 13px/17px Arial, sans-serif;}
#stage #col-left table {font: 13px/17px Arial, sans-serif;}
#stage #col-left a, #footer-warea a {color: #00AEEF; text-decoration: none;}
h1 {font: 44px/48px 'PT Sans', sans-serif; margin-bottom: 15px; color: #000;}
h2 {font: 22px/24px 'PT Sans', sans-serif; margin-top: 15px; margin-bottom: 10px; text-align: left; color: #00AEEF;}
h3 {font: 22px/24px 'PT Sans', sans-serif; margin-top: 20px; margin-bottom: 15px; text-align: left; color: #000;}
h4 {font: 18px/20px 'PT Sans', sans-serif; margin-top: 10px; margin-bottom: 10px; text-align: left; color: #00AEEF;}
h5 {font: 18px/20px 'PT Sans', sans-serif; margin-top: 10px; margin-bottom: 10px; text-align: left; color: #000;}
h6 {font: 13px/17px 'PT Sans', sans-serif; margin-top: 5px; margin-bottom: 3px; text-align: left; color: #000;}

#home-content, #col-left ul, #col-right ul {list-style: none; padding: 0; margin: 0;}
#home-content, #col-left li, #col-right li {list-style: outside url("images/content_li.png"); padding-bottom: 5px;}
#home-content li, #col-left li { margin-left: 0px; margin-left: 20px; }
#home-content li {margin-bottom: 5px;}

#home-submast {display: block; background: url("images/footer_bck.png") repeat-x bottom left; height: 17px; margin-bottom: 10px;}
#home-content, #home-news {float: left;}
#home-testimonials {float: right;}
#home-content h3, #home-news h3, #home-testimonials h3:first-child {}
#home-testimonials h3:first-child {margin-bottom: 30px;}
#home-testimonials .widget {border-bottom: 1px solid #ccc;}
#home-testimonials .widget:last-child {border: 0;}
#home-content {width: 270px; margin-right: 35px; font: 13px/17px Arial, sans-serif;}
#home-news {width: 270px; margin-right: 35px; font: 13px/17px Arial, sans-serif;}
#home-news h3 {margin-bottom: 30px;}
#home-testimonials {width: 269px;}
#home-slider h2 a {text-decoration: none; color: #000; font: 44px/48px 'PT Sans', sans-serif; margin-top: 15px; margin-bottom: 10px; text-align: left; }
.home-news-item {margin-bottom: 20px; border-bottom: 1px solid #ccc; padding: 0px 0px;}
.home-news-item:first-child {padding-top: 35px;}
.home-news-item:last-child {border: 0;}
.home-news-item .title {font: 18px 'PT Sans', sans-serif; display: block; margin-bottom: 10px;}
.home-news-item a {text-decoration: none; color: #404040;}


.divider-top {display: block; background: url("images/line1.png") repeat-x top left; height: 17px; margin-top: 30px; margin-bottom: 15px;}
.divider-bottom {display: block; background: url("images/line2.png") repeat-x bottom left; height: 17px; margin-top: 15px; margin-bottom: 30px; }

#col-left .gform_wrapper h3 {display: none;}
#col-left .gform_wrapper li label {display: none;}
#col-left .gform_wrapper .gfield_checkbox label, li #field_1_7 label {display: block;}
#col-left .gform_wrapper li input, #col-left .gform_wrapper textarea {padding: 5px; background: #fff; font: 14px/16px 'PT Sans', sans-serif; border: 1px solid #404040; border-radius: 10px; box-shadow: 5px 5px 5px #eee;}

.gform_wrapper .gform_button {background: url("images/button_bck.png") top right; border: 1px solid #fff; color: #404040; padding: 7px 20px 5px 10px; border-radius: 10px; font-size: 18px; box-shadow: 5px 5px 5px #eee;}
#stage #col-left .gform_wrapper li {margin: 0px 0px 10px 0px}

.category-item {margin-bottom: 50px;}
.category-title {color: #00AEEF; font: 18px/20px 'PT Sans', sans-serif; margin-bottom: 10px;}
#col-left .category-item a {text-decoration: none; color: #00AEEF;}
.category-summary {font: 14px Arial, sans-serif; color: #000;}
.category-meta {color: #808080; font: 13px/17px 'PT Sans', sans-serif; border-top: 1px solid #ccc; padding: 5px 0px 30px 0px; background: url("images/line1.png") no-repeat center bottom; }
#stage #col-left .category-meta a {text-decoration: none; color: #808080;}
#stage #col-left .category-meta span {padding-top: 7px; display: block;}
#col-left .category-meta .category-button {float: right; background: url("images/button_bck.png") top right; border: 1px solid #fff; color: #404040; padding: 7px 30px 5px 20px; border-radius: 10px; font-size: 17px; font-weight: 300; box-shadow: 2px 2px 2px #eee;}

#col-right {color: #404040;}
#col-right div {font: 13px/17px Arial; color: #404040;}
#col-right a {color: #00AEEF; text-decoration: none;}
#col-right li a {color: #404040;}
#col-right li li a {color: #00AEEF;}
#col-right li li {list-style: outside url("images/blueli.png"); margin-left: 10px; color: #00AEEF;}
#col-right li li:first-child {margin-top: 5px;}

/* widgets */
#col-right .widget {padding-bottom: 30px; border-bottom: 1px solid #808080;}
#col-right .widget:last-child {border: 0;}
.widget_calendar  table {width: 100%;}
.widget_calendar td {background: #F5F5F5; padding: 3px;}
.widget_calendar .pad {background: #fff;}
.widget_calendar #prev {background: #fff;}
.widget_calendar caption {font: 18px/20px 'PT Sans', sans-serif; margin-bottom: 10px; text-align: left; color: #000; text-align: center;}
#col-right .widget_nav_menu li, #col-right .widget_text li, #col-right .widget_pages li, #col-right .widget_categories li {list-style: outside url("images/content_li.png"); margin-left: 20px;}
#col-right .widget_pages li li, #col-right .widget_recent_entries li, #col-right .widget_meta li, #col-right .widget_links li, #col-right .widget_archive li, #col-right .widget_categoryposts li  {list-style: outside url("images/blueli.png"); margin-left: 20px;}

#col-right .widget_links a, #col-right .widget_archive a, #col-right .widget_archive, #col-right .widget_meta a {color: #00AEEF;}
#col-right .widget_search input {padding: 5px; background: #fff; font: 14px/16px 'PT Sans', sans-serif; border: 1px solid #404040; border-radius: 10px; box-shadow: 5px 5px 5px #eee; width: 250px;}
#home-testimonials .widget_ltw_testimonials {background: url("images/testimonials_bck.png") no-repeat 0px 45px; }
#col-right .widget_ltw_testimonials {background: url("images/testimonials_bck.png") no-repeat 0px 30px; }
.widget_ltw_testimonials p {font: 13px/17px Arial, sans-serif; font-style: oblique; padding-left: 20px;}
.widget_ltw_testimonials cite {color: #9F9F9F; font: 13px Arial, sans-serif;}
.twtr-widget {font-family: Arial, sans-serif}

#stage #col-left table {border: 0; background: none; vertical-align: text-top; margin: 0; padding: 0;}
#stage #col-left table.table2 td {border-right: 1px solid #000; padding-right: 20px;}


/* shortcodes */
#stage #col-left .button-small, #stage #col-right .button-small {background: url("images/button_bck.png") top right; border: 1px solid #fff; color: #404040; padding: 7px 20px 7px 10px; border-radius: 10px; font-size: 17px; margin-bottom: 10px; display: block; box-shadow: 3px 3px 3px #eee;}
.button-small {color: #404040;}
#stage #col-left .button-large, #stage #home-slider .button-large {background: url("images/largebutton_bck.png") center right; border: 1px solid #fff; color: #404040; padding: 3px 20px 5px 10px; border-radius: 10px; font-size: 20px; margin-bottom: 10px; display: block; box-shadow: 3px 3px 3px #eee; text-decoration: none;}

/* custom styles */
#stage #col-left .leadparagraph, #stage #col-left #sidebar .textwidget .leadparagraph, #col-right div p.leadparagraph {font: 18px Arial, sans-serif;}
#stage #col-left .photos {border: 3px solid #fff; box-shadow: 5px 5px 5px #eee;}
table td .border-right {border-right: 1px solid #808080;}

/* Image alignment options, required by WP */
img.centered {display: block; margin-left: auto; margin-right: auto;}
img.alignright {padding: 4px; margin: 0 0 2px 7px; display: inline;}
img.alignleft {padding: 4px; margin: 0 7px 2px 0; display: inline;}
.alignright {float: right;}
.alignleft {float: left;}
/* End of image alignment options */
