
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu { font-family: 'PT Sans', sans-serif;

}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			28px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** Custom Styles ***/

/* The container wrapping .sf-menu */
#navwrap {
	float:				left;
	width:				100%;
	/* background: 		#fff9ee;
	border-top:			1px solid #999;
	border-bottom:		1px solid #000; */
}
.sf-menu {
	float:				left;
	width:				100%; padding-top: 8px; font-size: 15px;
}
.sf-menu ul {margin: 0 auto;}
.sf-menu li {
	float: left; margin-right: 40px; 
}
.sf-menu li li {}
.sf-menu a {
	text-decoration: none; color: #404040;
}
.sf-menu li li a {text-transform: none;}
.sf-menu ul li a {
	color: #404040;
	padding:			5px 5px;
	text-decoration:	none;
	border-bottom: 0px solid #ccc;	
}

.sf-menu ul li li a {}

.sf-menu li ul {
	
}
.sf-menu li li {
	background:			#fff; border-bottom: 1px solid #808080;
}
.sf-menu li li:last-child {border: 0;}
.sf-menu li li a:before { content: "\00BB \0020"; }

.sf-menu li li li {
	background:			#fff; 
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
}
.sf-menu li:hover {
	
	/* border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	border-bottom-right-radius: 5px; 
	box-shadow: 1px 1px #808080; */
	}
.sf-menu li:hover a {color: #00AEEF;}
.sf-menu li:hover li a {color: #808080;}
	

.sf-menu li li:hover {color: #00AEEF; background: #fff; }

/*** arrows **/
.sf-menu a.sf-with-ul {

	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
    position:       absolute; color: #fff; font-size: 14px;
    display:        block; float: right;
    right:          -1em;
    bottom:         -1em; /* IE6 only */
    width:          10px;
    height:         10px;
    overflow:       hidden;
    background:     url('images/indicator.png') no-repeat 0px 0px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}


a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.3em;
	/* background-position: 0 -100px; */ /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: 0px 0px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
